<a href="https://colab.research.google.com/github/TzurV/TestMe/blob/master/Learn20200514.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#from functools import reduce

a = []
for b in range(1,5):
  print(b)
  a.insert(0,b)
  a.append(b)

print(a)

1
2
3
4
[4, 3, 2, 1, 1, 2, 3, 4]

https://www.w3schools.com/python/python_lambda.asp

Syntax
lambda arguments : expression

We use lambda functions when we require a nameless function for a short period of time.

In [0]:
x = lambda a : a + 10
print(x(5))
x = lambda a, b : a * b
print(x(5, 6))

# Program to filter out only the even items from a list
my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(filter(lambda x: (x%2 == 0) , my_list))

print(new_list)


# Program to double each item in a list using map()

my_list = [1, 5, 4, 6, 8, 11, 3, 12]

new_list = list(map(lambda x: x * 2 , my_list))

print(new_list)

15
30
[4, 6, 8, 12]
[2, 10, 8, 12, 16, 22, 6, 24]

Tuple Values
Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

In [9]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

#Create a tuple with different data types
tuplex = ("tuple", False, 3.2, 1)
print(tuplex)

MyList = [12, 33, 'aaa', False]
print(MyList)

tuplex1 = tuplex
MyList1 = MyList

MyList
MyList1
tuplex
tuplex1

print(type(tuplex))
print(dir(tuplex))
print(id(tuplex), id(tuplex1))

('apple', 'kiwi', 'cherry')
('tuple', False, 3.2, 1)
[12, 33, 'aaa', False]
<class 'tuple'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
140289730197768 140289730197768

Set
A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets.

Access Items
You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [12]:
thisset = {"apple", "banana", "cherry"}
print(thisset)


for x in thisset:
  print(x)

thisset.add("orange")
print(thisset)

thisset.update(["orange", "mango", "grapes"])

print(thisset)

{'apple', 'cherry', 'banana'}
apple
cherry
banana
{'orange', 'apple', 'cherry', 'banana'}
{'orange', 'mango', 'apple', 'cherry', 'grapes', 'banana'}